html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-autocomplete.css')

  style.
    mn-autocomplete {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }

    mn-autocomplete {
      position: relative;
      z-index: 1000;
    }

    mn-code {
      display: block;
      position: relative;
      z-index: -1;
    }
body
  h2 mn-autocomplete
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      form.mn-layout-column.mn-layout-sm-row
        mn-autocomplete.flex(placeholder='Houses')
          menu.mn-card
            .mn-option Stark
            .mn-option Lannister
            .mn-option Bolton
            .mn-option Targaryen
            .mn-option Snow
            .mn-option Greyjoy
            .mn-option Tully
            .mn-option Frey
            .mn-option Arryn
            .mn-option Martell
            .mn-option Tyrrel
            
  .docs.mn-layout-container
    mn-code.sh.
      # not available ye, working in progress
      bower install --save mn-autocomplete

    p Or just download the main files, located in dist/

    h3 usage
    p just use the tag <strong>mn-autocomplete</strong>, e.g.
    mn-code.html.
      <mn-autocomplete placeholder='Type a value'>

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-autocomplete.js')

  script.
    var autocomplete = document.querySelector('mn-autocomplete')

