html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-autocomplete.css')

  style.
    mn-autocomplete {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }

    mn-autocomplete {
      position: relative;
      z-index: 1000;
    }

    mn-code {
      display: block;
      position: relative;
      z-index: -1;
    }
body
  h2 mn-autocomplete
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      form.mn-layout-column.mn-layout-sm-row
        mn-autocomplete.flex(placeholder='Houses' name='houses')
          option(value='stark') Stark
          option(value='lannister') Lannister
          option(value='bolton') Bolton
          option(value='targaryen') Targaryen
          option(value='snow') Snow
          option(value='greyjoy') Greyjoy
          option(value='tully') Tully
          option(value='frey') Frey
          option(value='arryn') Arryn
          option(value='martell') Martell
          option(value='tyrrel') Tyrel

  .docs.mn-layout-container
    mn-code.sh.
      # not available ye, working in progress
      npm install --save mn-autocomplete

    p Or just download the main files, located in dist/

    h3 usage
    p just use the tag <strong>mn-autocomplete</strong>, e.g.
    mn-code.html.
      <mn-autocomplete placeholder='Type a value'>

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-autocomplete.js')

  script.
    var houses = document.querySelector('mn-autocomplete')

