html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')


  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-autocomplete.css')

  style.
    mn-autocomplete {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-autocomplete
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      form.layout-column.layout-sm-row
        mn-autocomplete.flex(placeholder='Houses')
  
  .docs.layout-container
    mn-code.sh.
      # not available ye, working in progress
      bower install --save mn-autocomplete

    p Or just download the main files, located in dist/

    h3 usage
    p just use the tag <strong>mn-autocomplete</strong>, e.g.
    mn-code.html.
      <mn-autocomplete placeholder='Type a value'>
  
  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-autocomplete.js')
  //- script.
    var form = document.querySelector('form')
    form.setAttribute('novalidate', 'novalidate')
    form.addEventListener('submit', submit)

    function submit(event) {
      form.classList.add('submitted')
      event.preventDefault()
      console.log('valid', form.checkValidity())
    }

